.NavBar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: transparent;
}

a {
  color: #F9E4CA;
  text-decoration: none;
  font-weight: bold;
}

.sectionBar {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.align {
  display: flex;
  gap: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}
